body {
    padding: 0;
    margin: 0;
    font-family: 'Righteous';
    background-color: #F9F5FF;
}

#signupForm {

    border-radius: 5px;
    padding: 30px;
    color: black;
    height: 100%;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    

}

#signupForm h2 {
    color: black;
    font-size: 32px;
}

.signuphead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signuphead button {

    width: 30px;
    height: 30px;
    text-align: center;
    border-bottom-left-radius: 50%;
    border: none;
    border-top-right-radius: 5px;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    color: #696969;
    cursor: pointer;
}

#usernameBody,
#passwordBody,
#confirmpasswordBody {
    margin-bottom: 30px;
    display: flex;
    align-items: center;


}

.userIcon,
.passIcon {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    position: absolute;
    right: 35px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    animation: slide .2s ease-in;
}

.userIcon i,
.passIcon i {
    margin: auto;
    color: white;
    font-size: 22px;
}

@keyframes slide {
    0% {
        right: 83%;
    }

    100% {
        right: 35px;
    }
}

#usernameBody input,
#passwordBody input,
#confirmpasswordBody input {
    width: 100%;
    padding: 30px 30px;
    border-radius: 35px;
    border: none;
    background-color: #F9F5FF;
    box-shadow: 0px 0px 3px rgb(56, 56, 56);
    animation: changeBg .2s ease-in;
}

@keyframes changeBg {
    0% {
        background-color: rgb(0, 0, 0);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

#usernameBody label,
#passwordBody label,
#confirmpasswordBody label {
    position: absolute;
    margin-left: 30px;
    color: #696969;
    font-size: 14px;
    transition: .2s;
}


#usernameBody input:focus~label,
#passwordBody input:focus~label,
#confirmpasswordBody input:focus~label,
#usernameBody input:not(:placeholder-shown)~label,
#passwordBody input:not(:placeholder-shown)~label,
#confirmpasswordBody input:not(:placeholder-shown)~label {
    transform: translate(20px, -38px);
    background-color: #F9F5FF;
    font-size: 12px;
    padding: 0px 10px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    color: black;
}


#buttonBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#buttonBody button {
    padding: 30px 10px;
    border-radius: 35px;
    width: 100%;
    margin: auto;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    font-size: 16px;
}

.gotoLogin {
    margin-top: 40px;
    text-align: center;
    align-items: center;
}

.gotoLogin a {
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 30px 32px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgb(121, 121, 121);
    text-decoration: none;
    font-size: 17px;
    color: rgb(0, 0, 0);
}




@media (min-width:800px) {
    body {
        padding: 0;

        font-family: 'Righteous';
        background-color: #F9F5FF;
        margin: 0;
    }

    #signupForm {

        border-radius: 5px;
        padding: 30px;
        color: black;
        height: 800px;
        position: absolute;
        width: 500px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 6%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}






#notifbody{
    
    margin-top: -20px;
    margin-bottom: 5px;
    padding: 10px 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    color: white;
    
}
#notifbody label{
    text-align: center;
    
    align-items: center;
   
}
.loadingIcon{
    
    width: 30px;
    height: 30px;
    
    border-radius: 50%;
    border: 6px solid white;
    border-bottom: 6px solid transparent;
   animation: rotate 1s linear infinite;
    
    
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
